
/*---- GENERAL ----*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

.ojosClaros{
    color: powderblue;
}

.ojosOscuros{
    color: saddlebrown;
}

h3{
    font-size: 28px;
}

#preguntas label{
    font-size: 22px;
}

#preguntas b{
    font-size: 25px;
}

.powderblue{
    background-color: powderblue
}

.saddlebrown{
    background-color: saddlebrown;
}
